@import url('https://fonts.googleapis.com/css?family=Roboto');

.btn-etape1{
    color:#355263;
    background-color:transparent;
    background-image:none;
    border-color:#355263;
}
.btn-etape2{
    color:#00c2e0;
    background-color:transparent;
    background-image:none;
    border-color:#00c2e0; 
}
.btn-etape3{
    color:#ff78cb;
    background-color:transparent;
    background-image:none;
    border-color:#ff78cb; 
}
.btn-etape4{
    color:#ff9f1a;
    background-color:transparent;
    background-image:none;
    border-color:#ff9f1a; 
}
.btn-etape5{
    color:#eb5a46;
    background-color:transparent;
    background-image:none;
    border-color:#eb5a46; 
}
.btn-etape6{
    color:#f2d600;
    background-color:transparent;
    background-image:none;
    border-color:#f2d600; 
}
.btn-etape7{
    color:#61bd4f;
    background-color:transparent;
    background-image:none;
    border-color:#61bd4f; 
}
.btn-etape8{
    color:#0079bf;
    background-color:transparent;
    background-image:none;
    border-color:#0079bf; 
}